.wilder-component-container {
  display: flex;
  height: calc(100vh - 3.5rem);
  justify-content: center;
  align-items: center;
}
.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  height: 100%;
  flex-wrap: wrap;
}
.cards {
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  box-shadow: 5px 4px 10px rgb(161, 161, 161);
  margin: 1rem;
  height: 35rem;
  width: 20rem;
}
.card-header {
  display: flex;
  justify-content: center;
}
.skills-wrapper {
  display: flex;
  flex-direction: row;
  align-items: end;
  height: 100%;
}
.cards-skills {
  margin: 0 0.5rem 0 0;
  padding: 0 0.5rem;
}
.delete {
  color: red;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: end;
  align-items: end;

  padding: 1rem;
}
